<h1>List of All Users</h1>

<%# <%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %> 

<div class="user-list d-flex flex-wrap">
  <% @users.each do |user| %>

   <h2><%= user.name  %> </h2><br>

  <% end %>
<div>